<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">INSTANT SHOP</a>
      </div>
    <div class="collapse navbar-collapse" id="#myNavbar">
        <ul class="nav navbar-nav">
            <li *ngIf="isLoggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/recipes']">RECIPES</a></li>
            <li *ngIf="isLoggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/shoppinglist">SHOPPING LIST</a></li>
            <li *ngIf="!isLoggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/authenticate">AUTHENTICATE</a></li>
       </ul>

        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="isLoggedIn">
            <a style="cursor: pointer;" (click)="logOut()">LOGOUT</a>
          </li>
           <li *ngIf="isLoggedIn" class="dropdown" dropDown>
             <a class="dropdown-toggle" data-toggle="dropdown">MANAGE DATA
               <span class="caret"></span>
             </a>
             <ul class="dropdown-menu">
               <li><a (click)="getData()">Fetch Data</a></li>
               <li><a (click)="saveData()">Save Data</a></li>
             </ul>
           </li>
        </ul>
    </div>
    </div>
  </nav>
