<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" [disabled]="!form.valid" class="btn btn-success">SAVE</button>
          <button type="button" class="btn btn-danger">CANCEL</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                    id="name"
                    formControlName="name"
                    class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">IMAGE PATH</label>
            <input type="text"
                    id="imagePath"
                    formControlName="imagePath"
                    class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <img src="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">DESCRIPTION</label>
            <textarea type="text"
                    id="description"
                    class="form-control"
                    formControlName="description"
                    rows="5" ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row"
                *ngFor="let ctrls of form.get('ingredients')['controls']; let i = index"
                [formGroupName]="i">
                <div class="col-xs-8">
                <input type="text"
                       class="form-control"
                       id="description"
                       formControlName="ingredient"
                       placeholder="INGREDIENT">
              </div>
              <div class="col-xs-2">
                <input type="number"
                       class="form-control"
                       formControlName="amount"
                       id="amount"
                       placeholder="AMOUNT">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-danger"
                        type="button">X</button>
              </div>
            </div>
            <br/>
            <button type="button" class="btn btn-success" (click)="addIngredient()">+</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">

</div>
